<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @property.price %>
</p>

<p>
  <b>Address:</b>
  <%= @property.address %>
</p>

<p>
  <b>Type:</b>
  <%= @property.property_type %>
</p>

<p>
  <b>City:</b>
  <%= @property.city %>
</p>

<p>
  <b>Country:</b>
  <%= @property.country %>
</p>

<p>
  <b>Description:</b>
  <%= @property.description %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
