<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @interest.user %>
</p>

<p>
  <b>Property:</b>
  <%= @interest.property %>
</p>


<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
